body {
    font-size: 14px;
    background-color: #000!important;
  }
p {
  margin-bottom: 0px;
}
.main {
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 0 1em #585858;
    background-color: #fff;
    padding: 20px;
  }
.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
h3,h5 {
    text-align: center;
  }
.title-can {
  padding: 10px 0;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
.fixed-top {
  position:fixed;
  display: block;
  height:40px;
  background-color:#ff5983;
  width:100%;
  z-index: 1030;
}
.top100{
  margin-top:100px;
}
.top30{
  margin-top:30px;
}
.center1{
  position:relative;
  display:block;
  text-align:center;
}
.s01 {
  color:gray;
}
.btn-primary2 {
  color: #fff;
  background-color: #3C589A;
}
.btn-google {
  color: #fff;
  background-color: #DD4B39;
}
.btn-line {
  color: #fff;
  background-color: #00B84F;
}
.fc {
  color:pink;
  display: block;
  text-align: right;
  padding: 5px 0px;
}
.am {
  display: block;
  text-align: center;
  padding: 5px 0px;
}
.bg {
  width:100%;
  height:100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url("img/sexbaby01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top;
  filter: blur(10px);
    opacity:0.6;
}

.pink-btn{
  background-color:pink;
  border:0px;
  width: 100%;
}
.pink-btn:hover{
  background-color:pink;
  display: block;
  position: relative;
  top: 1px;
  left: 1px;
}
.prl {
  padding: 0 10px;
}
.sexyImg img {
  display:block;
  position:relative;
  width:100%;
}
.loginBtn{
  margin-bottom: 5px;
}
.loginBtn:hover {
    color: #fff;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}
.nav-item{
  width: auto;
  display: block;
}

@media only screen and (max-width: 767px)  {
  .mob-view {
    display: block;
  }
  .web-view{
    display: none;
  }
  .member-table {
    display: block!important;
  }
}
@media only screen and (min-width: 768px)  {
  .mob-view {
    display: none;
  }
  .web-view{
    display: block;
  }
}



.bg-left {
  background-color: #212121;
  padding:15px;
}
.bg-right {
  background-color: #0f0f0f;
  padding:15px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #000;
  border-radius: 20px;
  font-size: 14px;
}
.alink-color li a{
  color: #cacaca;
}
.alink-color li a:hover{
  color: #fff;
}
.tab-content {
  color: #fff;
}
.tab-content hr{
  border-top: 1px solid #979797;
}
.member-table{
  display: flex;
  padding: 10px 0px;
}
.text-content-color {
  color: #a7a7a7;
}
.apply-btn{
  display: block;
  position: relative;
  background-color:pink;
  color: #000;
  font-size: 14px;
  border:0px;
  margin: auto;
}
.apply-btn:hover{
  background-color:pink;
  color: #000;
  display: block;
  position: relative;
  top: 1px;
  left: 1px;
}
.check-btn{
  display: inline-block;
}
.check-btn-style{
  font-size: 12px;
  background-color: #FF5983;
  border-color: #FF5983;
  color: #fff;
}
.check-btn-style:hover{
  background-color: rgb(165, 64, 89);
  border-color: rgb(165, 64, 89);
}
.nav-swiper {
  flex-wrap: wrap;
}
.nav-swiper .nav-item {
  width: auto;
  display: inline-block;
}
/* .swiper-slide{
  width: auto!important;
} */
.swiper-style{
  height: auto!important;
  width: 100%;
  background-color: #000!important;
  color: #fff;
  font-size: 16px;
}
.swiper-style .active{
  font-size: 16px;
}
.mob-view .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  font-size: 16px;
  border-bottom: 1px solid  #FF5983;
  border-radius: 0px;
  padding: 5px 10px;
}
.member-center {
  padding-top: 60px;
}
.swiper-container .nav {
  flex-wrap: nowrap;
}
.nav-item i {
  margin-right: 5px;
}
.upvip {
  display: block;
  width: auto;
  padding: 5px 50px;
  line-height: 30px;
  border-radius: 20px;
  background-color: #FA6400;
  color: #fff;
  margin: 10px;
  text-align: center;
}
/* pricing */

.pricing-area {
  margin-top: 25px;
}
.single-pricing {
  position: relative;
  text-align: center;
  background-color: #FFBDCD;
  color: #fff;
  margin: 0 20px;
  padding: 30px;
  border-radius: 15px;
}
.single-pricing-2 {
  background-color: #FF5983;
}
.single-pricing::before {
  width: 80px;
  height: 80px;
  content: "";
  position: absolute;
  display: block;
  top: -2px;
  right: -2px;
  z-index: 1;
  background: url(img/new.png) no-repeat;
  background-size: contain;
}
.single-pricing-6m::before {
  width: 80px;
  height: 80px;
  content: "";
  position: absolute;
  display: block;
  top: -2px;
  right: -2px;
  z-index: 1;
  background: url(img/new6m.png) no-repeat;
  background-size: contain;
}
.single-pricing-12m::before {
  width: 80px;
  height: 80px;
  content: "";
  position: absolute;
  display: block;
  top: -2px;
  right: -2px;
  z-index: 1;
  background: url(img/new12m.png) no-repeat;
  background-size: contain;
}

.head-text {
  background-color: transparent;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
}

.price-area .price-area span {
  font-weight: 600;
}

.price-area {
  position: relative;
  padding: 10px 0;
  color: #000;
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  font-weight: bold;
}
.price-area .nt {
  font-size: 16px;
}

/* .price-area span.duration {
  display: block;
  font-size: 14px;
  margin: 10px 0 0;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 300;
} */

.price-area:after, .feature-area{
  border: 0;
  font-family: poppins;
  
}

.feature-area ul {
  margin: 0;
  padding: 15px 0;
  list-style: none;
 }

.feature-area li {
  padding: 6px 0;
  font-size: 14px;
}

.btn-area {
  /* padding: 15px 30px; */
 }

.btn-area a {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: 0;
  white-space: nowrap;
  margin: 5px;
  padding: 0 22px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  background-color: #303030;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  box-shadow: 2px 2px 3px 0px rgb(134, 0, 67);
}

.label-area {
  width: auto;
  height: auto;
  position: absolute;
  text-align: center;
  background: #fff;
  padding: 5px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 0px rgb(134, 0, 67);
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.cheap {
  background: #FF1B83;
}
.label-area span {
  position: relative;
  font-weight: 700;
  font-size: 12px;
  color: #fa87a0;
  letter-spacing: 1px;
}
.cheap span {
  position: relative;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  letter-spacing: 1px;
}
.go-back {
  position: absolute;
  left: 10px;
  top: 10px;
}
.popup-bg {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.pay-price {
  position: relative;
  text-align: center;
  background-color: #FFBDCD;
  color: #fff;
  margin: 0 10px;
  padding: 10px;
  border-radius: 15px;
}
.month-style {
  padding: 5px 10px;
  background-color: #FFBDCD;
  border-radius: 20px;
  margin: auto;
}
.pay-content {
  padding: 20px;
  background-color: #FFBDCD;
  border-radius: 5px;
  margin: auto;
}
.pay-content p{
  margin-bottom: 0px;
  font-size: 16px;
}
.pay-way {
  margin-top: 30px;
  margin: 20px auto 0px;
}
.pay-ways {
  background-color: rgb(121, 121, 121);
  border-radius: 5px;
  margin: 10px;
  padding: 0px -10px;
  text-align: center;
}
.pay-ways p{
  margin-bottom: 0px;
  padding: 20px 0px;
  color: #fff;
}
.time-btn {
  color: #fff;
  background: linear-gradient(90deg, rgba(188, 0, 75, 1)5%, rgba(255, 101, 141, 0.8)51%);
  background: -moz-linear-gradient(90deg, rgba(188, 0, 75, 1)5%, rgba(255, 101, 141, 0.8)51%);
  background: -webkit-linear-gradient(90deg, rgba(188, 0, 75, 1)5%, rgba(255, 101, 141, 0.8)51%);
  background: -o-linear-gradient(90deg, rgba(188, 0, 75, 1)5%, rgba(255, 101, 141, 0.8)51%);
  margin-bottom: 30px;
  padding: 10px;
}
.time-btn span {
  color: rgb(255, 251, 0);
  font-weight: bold;
}
.pay-content p.promote-text {
  font-size: 26px;
}

.line-through {
  text-decoration:line-through;
}
.add-video {
  display: block;
  position: relative;
  background-color:pink;
  color: #000;
  font-size: 14px;
  border:0px;
  margin:20px auto;
}
.add-video:hover {
  background-color:pink;
  color: #000;
  display: block;
  position: relative;
  top: 1px;
  left: 1px;
}
.f-img {
  width: 70%;
  height: auto;
  display: block;
  position: relative;
  text-align: center; 
}
.f-img img {
  width: 100%;
  height: 100%;
  border-radius:50%;
}
.m-video {
  display: block;
  position: relative;
  background-color:pink;
  color: #000;
  font-size: 14px;
  border:0px;
  margin: 10px auto;
  width: 100%;
  padding: 10px;
}
.m-video:hover {
  background-color:pink;
  color: #000;
  display: block;
  position: relative;
}
.add-video-list {
  display: block;
  position: relative;
  background-color:rgba(0, 0, 0, 0);
  color: #fff;
  font-size: 14px;
  border:0px;
  margin: 10px auto;
  width: 100%;
  padding: 10px;
}
.add-video-list:hover {
  background-color:rgba(0, 0, 0, 0);
  color: #fff;
  display: block;
  position: relative;
}
.add-video-popup {
  display: block;
  position: relative;
  background-color:rgba(0, 0, 0, 0);
  color: #000;
  font-size: 14px;
  border:0px;
  margin: 10px auto;
  width: 100%;
}
.add-video-popup:hover {
  background-color:rgba(0, 0, 0, 0);
  color: #000;
  display: block;
  position: relative;
}
.ck-box-pop {
  padding: 0px 10px;
  cursor: pointer;
}

/*login button*/
.web-login-btn {
  display: block;
  position: relative;
  padding: 5px 20px;
  border: 1px solid #000;
  border-radius: 20px;
  float: right;
  margin-top: -31px;
  margin-right: 10px;
}
.web-login-btn a {
  color: #000;
}
.web-login-btn a:hover {
  color: #000;
  font-weight: bold;
}
.web-logout-btn {
  display: block;
  position: relative;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: -31px;
  margin-right: 10px;
  background-color: #AC0E3D;
  color: #b6b6b6;
}
.web-logout-btn:hover {
  color: #b6b6b6;
  font-weight: bold;
}
.love {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  float: right;
  margin-top: -31px;
  margin-right: 10px;
  background-color: #FFBDCD;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: #d10000;
}
.love:hover{
  color: #ff0000;
  font-weight: bold;
}
.mlove{
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #FFBDCD;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: #d10000;
  margin: auto;
}
.mlove i{
  line-height: 50px;
  margin: auto;
  font-size: 24px;
}

.member {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  float: right;
  margin-top: -31px;
  margin-right: 10px;
  background-color: #FFBDCD;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: #2e2e2e;
}
.member:hover {
  color: #888888;
}
.mmember{
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #FFBDCD;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: #2e2e2e;
  margin: auto;
}
.mmember i{
  line-height: 50px;
  margin: auto;
  font-size: 24px;
}

.flex {
  float: right;
  display: flex;
  flex-direction: row-reverse;
}

.mobicon p{
  color: #fff;
}
.tab-bg {
  background-color: #4F4F4F;
  border-right: solid 3px #000;
  color: #979797;
}

@media (max-width: 767px){
  h3 {
    font-size: 20px;
  }
  .single-pricing{
    margin: 30px;
  }
  .f-img {
    width: 100%;
  }
    
}

@media (min-width: 992px){
  .modal-lg {
    max-width: 80vw;
  }
}
.close-btn {
  position: fixed;
  display: block;
  right: 20px;
}
.popup-title {
  margin: auto;
}

@media only screen and (max-width: 767px)  {
  .single-pricing {
    padding: 30px 0 10px 0px;
    margin: auto;
  }
  .m-top {
    margin-top: 20px;
  }
  .head-text h5 {
    margin: 0px;
  }
  .price-area {
    padding: 0px;
    margin-top: 0px;
  }
  .paypopup {
    margin: auto;
  }
}