body {
    font-size: 14px;
    width:100%;
    background-color: #000!important;
  }
.main {
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 0 1em #585858;
    background-color: #fff;
    padding: 20px;
  }
.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
h3 {
    text-align: center;
    line-height: 300%;
  }
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
.fixed-top {
  position:fixed;
  height:40px;
  background-color:#ff5983;
  width:100%;
  z-index: 1030;
}
.top100{
  margin-top:100px;
}
.top30{
  margin-top:30px;
}
.center1{
  position:relative;
  display:block;
  text-align:center;
}
.s01 {
  color:gray;
}
.btn-primary2 {
  color: #fff;
  background-color: #3C589A;
}
.btn-google {
  color: #fff;
  background-color: #DD4B39;
}
.btn-line {
  color: #fff;
  background-color: #00B84F;
}
.fc {
  color:pink;
  display: block;
  text-align: right;
  padding: 5px 0px;
}
.am {
  display: block;
  text-align: center;
  padding: 5px 0px;
}
.bg {
  width:100%;
  height:100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url("img/sexbaby01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top;
  filter: blur(10px);
    opacity:0.6;
}

.pink-btn{
  background-color:pink;
  border:0px;
  width: 100%;
}
.pink-btn:hover{
  background-color:pink;
  display: block;
  position: relative;
  top: 1px;
  left: 1px;
}
.prl {
  padding: 0 10px;
}
.sexyImg img {
  display:block;
  position:relative;
  width:100%;
}
.loginBtn{
  margin-bottom: 5px;
}
.loginBtn:hover {
    color: #fff;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}
.nav-item{
  width: 100%;
  display: block;
}

@media only screen and (max-width: 767px)  {
  .mob-view {
    display: block;
  }
  .web-view{
    display: none;
  }
  .member-table {
    display: block!important;
  }
}
@media only screen and (min-width: 768px)  {
  .mob-view {
    display: none;
  }
  .web-view{
    display: block;
  }
}



.bg-left {
  background-color: #212121;
  padding:15px;
}
.bg-right {
  background-color: #0f0f0f;
  padding:15px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #000;
  border-radius: 20px;
  font-size: 14px;
}
.alink-color li a{
  color: #a7a7a7;
}
.alink-color li a:hover{
  color: #fff;
}
.tab-content {
  color: #fff;
}
.tab-content hr{
  border-top: 1px solid #979797;
}
.member-table{
  display: flex;
  padding: 10px 0px;
}
.text-content-color {
  color: #a7a7a7;
}
.apply-btn{
  display: block;
  position: relative;
  background-color:pink;
  color: #000;
  font-size: 14px;
  border:0px;
  margin: auto;
}
.apply-btn:hover{
  background-color:pink;
  color: #000;
  display: block;
  position: relative;
  top: 1px;
  left: 1px;
}
.check-btn{
  display: inline-block;
}
.check-btn-style{
  font-size: 12px;
  background-color: #FF5983;
  border-color: #FF5983;
  color: #fff;
}
.check-btn-style:hover{
  background-color: rgb(165, 64, 89);
  border-color: rgb(165, 64, 89);
}
.nav-swiper {
  flex-wrap: wrap;
}
.nav-swiper .nav-item {
  width: auto;
  display: inline-block;
}
.swiper-slide{
  width: auto!important;
}
.swiper-style{
  height: auto!important;
  width: 100%;
  background-color: #000!important;
  color: #fff;
  font-size: 16px;
}
.swiper-style .active{
  font-size: 16px;
}
.mob-view .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  font-size: 16px;
  border-bottom: 1px solid  #FF5983;
  border-radius: 0px;
  padding: 5px 10px;
}
.member-center {
  padding-top: 60px;
}
.swiper-container .nav {
  flex-wrap: nowrap;
}
.nav-item i {
  margin-right: 5px;
}
.upvip {
  display: block;
  width: auto;
  padding: 5px 50px;
  line-height: 30px;
  border-radius: 20px;
  background-color: #FA6400;
  color: #fff;
  margin: 10px;
  text-align: center;
}